[build]
  command = "npm run build"
  publish = "build"

[functions]
  node_bundler = "esbuild"
  directory    = "api" 

[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"